header{
  min-height: 74px;
  width: 100%;
  text-align: center;
  background: #125699;
  color: white;
  .logo{
    width: 74px;
    height: 74px;
    background: #ffffff;
    right: 0;
    top: 0;
    position: absolute;
  }
  .title{
    padding-top: 25px;
  }
}
